<!DOCTYPE html>
<html>

<head>
  <title>
    <%= student.std_fname %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <form>
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Edit Student Information</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Edit the student information data.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-full">
            <label for="id" class="block text-sm font-medium leading-6 text-gray-900">Student Id</label>
            <div class="mt-2">
              <input id="id" name="id" maxlength="10" value="<%= student.std_id %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="first_name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
            <div class="mt-2">
              <input type="text" name="first_name" id="first_name" autocomplete="given-name"
                value="<%= student.std_fname %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="last_name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
            <div class="mt-2">
              <input type="text" name="last_name" id="last_name" autocomplete="family-name"
                value="<%= student.std_lname %>"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-3 sm:col-start-1">
            <label for="major" class="block text-sm font-medium leading-6 text-gray-900">Major</label>
            <div class="mt-2">
              <select id="major" name="major"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <option value="cs" selected>Computer Science (CS)</option>
                <option value="ict">Information and Communication Technology (ICT)</option>
                <option value="fe">Financial Engineering (FE)</option>
                <option value="ids">Interdisciplinary Studies (IDS)</option>
                <option value="fti">Food Technology and Innovation (FTI)</option>
                <option value="dgs">Digital Game Simulation (DGS)</option>
                <option value="es">Game and eSports Business (ES)</option>
                <option value="wb">Integrated Wellness and Beauty (WB)</option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="year" class="block text-sm font-medium leading-6 text-gray-900">Year</label>
            <div class="mt-2">
              <select id="year" name="year"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <a type="button" href="/" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
        <button type="button" id="submit"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
      </div>
  </form>

  <script>
    $(document).ready(function () {
      $('#submit').click(function () {
        const id = window.location.pathname.substring(6);

        $.ajax({
          method: 'PUT',
          url: `/edit/${id}`,
          dataType: 'json',
          data: {
            id: $('#id').val(),
            first_name: $('#first_name').val(),
            last_name: $('#last_name').val(),
            major: $('#major').val(),
            year: $('#year').val(),
            old_id: id
          },
          success: (data, status) => {
            window.location.replace('/');
          },
          error: (jq) => {
            console.log(jq);
          }
        });
      });
    });
  </script>
</body>

</html>