<!DOCTYPE html>
<html>

<head>
  <title>Create Success</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body>

  <div class="relative overflow-x-auto sm:rounded-lg">
    <div class="flex flex-row justify-between items-center p-5">
      <div class="text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
        Student Create Succesfully
      </div>

      <div
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <a href="/">Back</a>
      </div>
    </div>
  </div>
</body>